%h1.heading
  = 'New Application'
  
- semantic_form_for(@application, :url => customer_applications_path(@customer)) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', customer_applications_path(@customer)