%h1.heading
  = 'New Check'
  
- semantic_form_for([@host,@check]) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', host_checks_path(@host)